.Playlist {
    width: 100%;
}

.Videos {
    list-style: none;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-gap: 16px;
    grid-auto-rows: 135px;
}

.Video {
    background-color: lightgray;
    cursor: pointer;
}

.Video:hover {
    background-color: salmon;
}